body {
  &.status-user-offline {
    .visible-online {
      display: none;
    }
  }

  &.status-user-online, &.status-user-loading {
    .visible-offline {
      display: none;
    }
  }

  &.status-user-not-reporter {
    .visible-for-reporter {
      display: none;
    }
  }

  &.status-user-reporter {
    .invisible-for-reporter {
      display: none;
    }
  }
}

