.etaplus-gallery {
  position: relative;
  padding-bottom: 5px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 20px;
  }
}

.etaplus-gallery-thumbs {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px 0 0;
  padding: 0;

  @include media-breakpoint-up(lg) {
    margin-right: 20px;
  }
}

.etaplus-gallery-trigger {
  cursor: zoom-in;
}

.etaplus-gallery-thumb {
  display: inline-block;
  float: left;
  width: 56px;
  height: 40px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @include media-breakpoint-up(sm) {
    width: 70px;
    height: 45px;
  }

  @include media-breakpoint-up(lg) {
    width: 140px;
    height: 90px;
  }

  & + & {
    margin-left: 10px;
  }
}

.etaplus-gallery-thumb-more {
  color: $white;
  background: rgba(0, 0, 0, 0.5);
  line-height: 18px;
  font-size: 0;
  font-weight: 400;
  text-align: center;
  height: 100%;
  padding: 0;

  @include media-breakpoint-up(lg) {
    padding-top: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .remaining-count {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      line-height: 40px;
      font-size: 36px;
    }
  }
}

.etaplus-gallery-modal {
  img {
    max-height: 100vh;
  }

  .modal-dialog {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .modal-content {
    border-width: 0;
    background: $black;
  }

  .carousel-control-next {
    &:focus, &:hover {
      box-shadow: inset -50px 0 50px -40px rgba($black, 0.5);
    }
  }

  .carousel-control-prev {
    &:focus, &:hover {
      box-shadow: inset 50px 0 50px -40px rgba($black, 0.5);
    }
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: $black;
    width: 50px;
    height: 50px;
    background-size: 25px;
  }

  .carousel-caption {
    background-color: rgba($black, 0.5);
    opacity: 0;
    transition-duration: 0.5s;
    bottom: 0;

    @include media-breakpoint-down(sm) {
      opacity: 1;
      position: static;
      right: 0;
      left: 0;
    }
  }

  .carousel-item {
    &:hover {
      .carousel-caption {
        opacity: 1;
      }
    }
  }
}
