.hottest-news-item {
  padding-left: 75px;
  min-height: 130px;
  position: relative;
}

.hottest-news-item-number {
  white-space: nowrap;
  opacity: 0.05;
  color: $black;
  font-family: "PT Serif", serif;
  font-size: 90px;
  font-weight: 700;
  position: absolute;
  right: 100%;
  margin-right: -75px;
  top: 0;
  line-height: 1.2em;
  margin-top: 18px;

  .html-icon.icon-diamond-bullet {
    width: 18px;
    height: 18px;
    vertical-align: baseline;
    margin-left: -30px;
    margin-bottom: -10px;

    &:before, &:after {
      border-width: 9px;
    }

    &:before {
      border-left-width: 0;
      border-right-color: $gray-dark;
    }

    &:after {
      border-right-width: 0;
      border-left-color: $gray;
    }
  }
}
