.insided-label-input {
  position: relative;

  > .form-control {
    position: relative;
    padding: 20px 25px 10px;

    &:focus,
    &.has-value {
      ~ {
        color: $gray;

        .form-control-label {
          font-size: 12px;
          margin-top: 8px;
          line-height: 15px;
        }
      }
    }
  }

  > .form-control-label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px 0 0 25px;
    height: 20px;
    color: $input-border-color;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    transition-duration: 0.3s;
    transition-property: margin, color, font-size, line-height;

    .has-danger & {
      color: $brand-danger;
    }
  }

  > .btn-password-show {
    @include button-variant(#737373, #eeeeee, #999999);
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
