.news-feed-tabs {
  .nav-tabs {
    border-bottom-color: transparent;
  }

  .tab-content {
    background: $tabs-background;
  }

  .tab-pane-item {
    padding: 15px 30px;
  }

  .nav-item {
    width: 50%;
  }

  .nav-link {
    text-align: center;
    border: none;
    border-top: 3px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    padding: 13px 0 14px;
    color: $black;

    &.active {
      border-color: $brand-primary;
      background: $tabs-background;
    }
  }
}

.news-feed-btn-more {
  margin-top: 20px;
}
