.search-page-title {
  color: $black;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
}

.search-page-sub-title {
  .svg-icon {
    width: 14px;
  }
}

.search-page-article-title {
  color: $black;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
}
