@import "./bootstrap/bootstrap";

.categoryTree {
    .name {
        display: inline-block;
        cursor: pointer;

        &:after {
            content: '+';
            display: inline-block;
            margin-left: 10px;
            color: green;
            border: 1px solid green;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 28px;
            text-align: center;
        }

        &:hover {
            &:after {
                color: white;
                background: green;
                border-color: white;
            }
        }
    }
}